.home-container {
    box-sizing: border-box;
    background: #FBD3E9;  /* fallback for old browsers */
    background: linear-gradient(to left, #FBD3E9, #216097);
    margin: 0;
    min-height:80vh;
    padding:60px 0;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    }
        .home-container h1 {
            font-size: 40px;
            color:white;
            font-weight:600;
            margin-bottom:20px;
        }
        .home-container form {
            padding: 20px 0;
            width: 70%;
            margin:0 auto;
        }
        .home-container form input {
            border: 1px solid #216097;
            width: 60%;
            border-radius: 3px;
            padding: 10px 15px;
            margin:10px auto 10px auto;
            display: block;
            text-align: center;
            font-size: 18px;
            color: #216097;
        }
        .home-container form button {
            background-color: #216097;
            border: 0;
            padding: 10px 15px;
            color: #FBD3E9;
            border-radius: 3px;
            font-size:20px;
            width: 40%;
            cursor: pointer;
        }
        .home-container .webcam-container
        {
            width:100%;
            margin:0 auto;
        }
        .home-container .webcam-container .webcam-btn
        {
            background-color: #216097;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 10px 15px;
            width:40%;
            color: #FBD3E9;;
            border-radius: 3px;
            font-size:20px;
            cursor: pointer;
        }

        .home-container .title {
                font-size: 20px;
                color:white;
                margin-bottom:20px;
        }

        .image-list {
            display: flex;
            flex-direction: row;
        }

        .image-item img {
            width: 300;
            height: 250px;
        }